<h1>The Moloko App</h1>

<p>
  This is the main page
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Check out the viddy.
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>