<h1>The Moloko App</h1>

<p>
  Yarbles and Eggiwegs! 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Viddy well.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>